ignore: ["custom-elements", "default-namespace"]
body {
  background-color: rgb(9, 93, 121);
}

h1 {
  color: rgb(187, 102, 102);
  text-align: center;
  font-family: 'Brush Script MT', cursive;
  font-size: 300%;
}

p {
  font-family: verdana, sans-serif;
  font-size: 20px;
  color: rgb(37, 187, 69);
}

@font-face {
  font-family: CustomFont;
  src: url(wingding.ttf);
}

wingdings {
  font-family: CustomFont, sans-serif;
}
